.Covid{
    margin-top:10mm;
    background-color: maroon;
    font-family: cursive;
    border: 2px solid black;
    border-radius: 5mm;
}
.Tourism{
    margin-top:10mm;
    background-color: lightyellow;
    font-family: cursive;
    border: 2px solid black;
    border-radius: 5mm;
}