.damantitle{

    width: 60mm;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: burlywood;
    font-family: cursive;
}
.location{
    padding-right: 10mm;
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: 30mm;
}
.localans{
    padding-right: 10mm;
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: 100mm;
}
.art{
    padding-right: 10mm;
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: 30mm;
}
.Crafts{
    padding-right: 10mm;
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: 100mm;
}
.dance{
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: 30mm;
}
.dance2{
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: auto;
}
.music{
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: 30mm;
}
.music2{
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: auto;
}
.lang{
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: 30mm;
}
.lang2{
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: auto;
}
.cus{
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: 30mm;
}
.cus2{
    padding-left: 20mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: auto;
}
.fest{
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: 30mm;
}
.fest2{
    padding-left: 10mm;
    margin-top:10mm;
    font-family: cursive;
    border: 4px solid black;
    border-radius: 20mm;
    background-color: rgb(223, 203, 24);
    width: auto;
}