.Tourism{
    background-color: maroon;
    font-family: cursive;
    border: 2px solid black;
    border-radius: 5mm;
}
.Language{
    margin-top:10mm;
    background-color: lightblue;
    font-family: cursive;
    border: 2px solid black;
    border-radius: 5mm;
}